.fda-recalls {
  position: relative;
  height: 100vh;
  top: 60px;
}

.map-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  align-items: stretch;
  padding: 1rem;
  flex-direction: column;
}

.map-filters-wrapper {
  width: fit-content;
  background: #fefefee3;
  left: 0;
  right: 0;
  border: 1px solid #ddd;
  border-top: 1px solid #98c6d4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: -100%;
  z-index: 1000;
  transition: bottom 0.3s ease-in-out;
  overflow-y: auto;
}

.map-filters-wrapper.expanded {
  bottom: 0;
}

.map-filters-tab {
  position: static;
  display: inline-block;
  padding: 25px;
  background-color: white;
  transition: background-color 0.3s ease-in-out;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  z-index: 1001;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.map-filters-tab.expanded {
  max-height: 200px;
  background-color: #22517c;
  color: white;
  box-shadow: none;
}

.fda-recalls {
  position: relative;
  height: 100%;
}

.recalls-header {
  display: flex;
  align-items: center;
  border: 1px solid #b6daff66;
}

.map-filters-tab .MuiSvgIcon-root {
  position: absolute;
  transform: translate(-50%, -50%);
}

.recalls-date-text {
  padding: 15px;
  min-width: 200px;

  p {
    margin: 0;
  }
}

.date-range {
  flex: 2;
}

.date-range p {
  color: #333;
  font-size: 14px;
  margin: 0;
  line-height: 1.5;
}

.date-range strong {
  color: #00468b;
}

.sidebar-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30vw;
  position: fixed;
  right: 0;
  top: 0;
  background-color: white;
  border-right: 1px solid #e0e0e0;
  z-index: 1000;
}