.fda-recalls {
  position: relative;
  height: 100vh;
}

.recalls-date-limit-wrapper {
  display: flex;
  background: #ffffffc4;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  left: 0;
  right: 0;
  border: 1px solid #ddd;
  border-top: 1px solid #98c6d4;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  position: fixed;
  bottom: -100%;
  z-index: 1000;
  transition: bottom 0.3s ease-in-out;
  max-height: 200px;
  overflow-y: auto;
}

.recalls-date-limit-wrapper.expanded {
  bottom: 0;
}

.recalls-date-limit-tab {
  position: absolute;
  top: 155px;
  left: 10px;
  display: inline-block;
  padding: 25px;
  background-color: white;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  z-index: 1001;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.recalls-date-limit-tab.expanded {
  max-height: 200px;
  transition: top 0.3s ease-in-out;
  background-color: #22517c;
  color: white;
  box-shadow: none;
}

.fda-recalls {
  position: relative;
  height: 100%;
}

.recalls-date-limit-tab .MuiSvgIcon-root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MuiInputBase-root, .limit-selector-root {
  background-color: #ffffff;
}


.recalls-date-text {
  padding: 15px;
  min-width: 200px;

  p {
    margin: 0;
  }
}

.date-range {
  flex: 2;
}

.date-range p {
  color: #333;
  font-size: 14px;
  margin: 0;
  line-height: 1.5;
}

.date-range strong {
  color: #00468b;
}

.results-limit {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  min-width: fit-content;
}

.results-limit p {
  color: #666;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
}