.recall-accordion-entry {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.recall-accordion-entry:last-child {
  margin-bottom: 0;
}