.state-recall-item {
  border-bottom: 1px solid #eee;
}

.state-recall-item:last-of-type {
  border-bottom: none;
}

.recalling-firm {
  background-color: #f0f4f8;
  padding: 2px 8px;
  border-radius: 4px;
  color: #486581;
  font-weight: 700;
}

/* Target last accordion */
.state-accordion-wrapper:last-of-type {
  margin-bottom: 40px;
  padding-bottom: 80px;
}

/* Style for all accordions */
.state-accordion-wrapper .MuiAccordion-root {
  box-shadow: none;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
}

.state-accordion-wrapper .MuiAccordionSummary-root {
  background-color: #f8f9fa;
  border-radius: 8px;

  color: #e5dddd;
  background-color: #1f2225;
}

.state-accordion-wrapper .MuiAccordionSummary-root:hover {
  background-color: #f0f1f2;
  color: black;
}

.state-accordion-wrapper .MuiAccordionSummary-content {
  margin: 8px 0;
}

.classification-accordion-wrapper .MuiAccordion-root {
  border: none;
  border-radius: 0;
}

.classification-accordion-wrapper .MuiAccordionSummary-root:hover {
  border: none;
  border-radius: 0;
}

.App.dark .state-accordion-wrapper .MuiAccordionSummary-root {
  color: #e5dddd;
  background-color: #1f2225;
}

.App.dark .state-accordion-wrapper .MuiAccordion-root {
  border: 1px solid #131314;
}

.App.dark .recalling-firm {
  background-color: #13131452;
  color: #90caf9;
}