.legend-wrapper {
  padding: 15px;
  background: white;
  border: thin solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.legend-item {
  display: flex;
  align-items: center;
  margin: 8px 0;
  color: black;
  font-size: 12px;
}

.color-box {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 4px;
}

.color-box.class-i {
  background-color: #FFD700; /* yellow - Class I */
}

.color-box.class-ii {
  background-color: #FFA500; /* orange - Class II */
}

.color-box.class-iii {
  background-color: #FF0000; /* red - Class III */
}