.limit-selector-root {
  min-width: fit-content;

  .MuiInputBase-root {
    height: 56px;
  }

  > div {
    max-width: 160px;
  }

  > div:first-child {
    margin-right: 5px;
  }

  .MuiOutlinedInput-notchedOutline {
    border-radius: 8px;
    border: 1px solid #b6daff;
    transition: border-color 0.3s;
  }
}

.limit-selector-select {
  padding: 10px;
  font-size: 14px;
  color: #333;
  width: 130px;
}

.limit-selector-select:focus {
  outline: none;
  border-color: #00468b;
  box-shadow: 0 0 0 2px rgba(0, 70, 139, 0.1);
}